.profile-container {
  min-height: 100vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}
.container-profile-page {
  align-self: center;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 200px;
  height: 200px;
}
.failure-text {
  color: #000;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.try-button {
  background-color: #4094ef;
  color: #ffffff;
  height: 30px;
  width: 100px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
}
.story-view-container {
  width: 70%;
  height: 60vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 30px;
  padding: 0;
}
.loader-container-story {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.story-profile-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;  
}
.view-name {
  color: #ffffff;
  font-size: 20px;
}
.close-icon-story {
  font-size: 20px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.view-image {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .story-view-container {
    width: 100%;
    height: 80vh;
    margin-top: 0;
  }
}
.progress-bar {
  width: 100%;
  height: 3px;
  margin: 10px 0;
  background-color: rgb(209, 208, 208);
  position: relative;
}

.progress {
  width: 20%;
  height: 100%;
  background-color: #FFFFFF; 
  animation: move 2s infinite linear;
  position: absolute;
  left: 0;
}

@keyframes move {
  from {
    left: -100px;
  }
  to {
    left: calc(100% - 100px);
  }
}
